/kaggle
/kaggle/*
/kaggle.json

/data/
!/data/.gitkeep


models/**/*.h5
models/*.h5

models/**/pytorch_model.bin
models/**/tf_model.h5

models/**/saved_model/


!models/**/config.json
!models/**/tokenizer*.json
!models/**/vocab.txt